name: release-please

on:
  push:
    branches:
      - main  # Nuvvu code main branch ki merge chesinappudu idi trigger avthundi

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v4
        with:
          # Deeni valla automatic ga tags, releases and changelog create avthayi
          release-type: simple
# comment